################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/symb_lib/.vs/symb_lib/v16/ipch/AutoPCH
/symb_lib/.vs/symb_lib/v16
/symb_lib/exe/Debug
/symb_lib/symb_lib/Debug
/symb_lib/Debug
/build/vs2019/symb/.vs
