################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/symb_lib/.vs/symb_lib/v16/ipch/AutoPCH
/symb_lib/.vs/symb_lib/v16
/symb_lib/exe/Debug
/symb_lib/symb_lib/Debug
/symb_lib/Debug
/build/vs2019/symb/x64
/build/vs2019/symb/Debug
/build/vs2019/symb/.vs
/build/vs2019/symb/symb.vcxproj.user
/build/vs2019/exe/x64
/build/vs2019/exe/exe.vcxproj.user
/symb_lib/Debug
/build/vs2019/symb/.vs
/out
/build
/.vs
lib
test
vs2019
build.ninja
cmake_install.cmake
CMakeCache.txt
compile_commands.json
rules.ninja
.cmake
bin
CMakeFiles
