################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/symb_lib/.vs/symb_lib/v16/ipch/AutoPCH
